<h2>What's App</h2>

<ul>
  <% Tweet.all.each do |tweet| %>
    <li><%= tweet.status %></li>
  <% end %>
</ul>

<% if current_user != nil %>
  <%= link_to "Add Tweet", new_tweet_path, :id => 'new_tweet', :class => 'btn btn-primary', remote: true %>
<% end %>


