<h1>Profile Page for <%= @user.email %></h1>

<div id="statuses">
  <ul id="tweet_list">
    <%= render @user.tweets %>
  </ul>
</div>

<%= link_to "Home", tweets_path, :class => 'btn btn-primary' %>
<%= link_to "Add Tweet", new_tweet_path, :id => 'new_tweet', :class => 'btn btn-primary', remote: true %>
